#section_education{
   background-color: #9E9627; 
   height: 100vh;
   padding-top: 50px;
}

#section_management{
    background-color: #EAEBE9;
    height: 100vh;
    padding-top: 50px;
}

#card{
    background-color: black;
    color:#fff;
    width: 95%;
    margin:auto;
    padding-left: 20px;
}

#title-table{
    color: #fff;
    background-color: #9E9627;
    font-weight: 600;
    border-radius: 5px;
}

.card{
    border-radius:15px;
}
